body {
    background-color: lightcoral;
}
div {
    width: 600px;
    margin: 50px auto;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}
p:nth-child(3) {
    background-color: lightgray;
    border-radius: 10px;
    font-style: italic;
    padding: 10px;
}
h1 {
    color: lightcoral;
}